#fillmode {
  position: fixed;
  top: var(--external-margin);
  right: var(--external-margin);
  z-index: 10;
}

#fillmode .items {
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}

#fillmodeSet {
  flex-direction: row !important;
}

#fillmodeSet .item {
  flex: 1 0 0;
}

#fillmode .item {
  display: flex;
  align-items: center;
  padding: 1.2vh;
  gap: 0.4em;
  border-radius: 0.5em;
  cursor: default;
  background: var(--item-bg-color);
}

#fillmode .item object,
#fillmode .item svg {
  width: 1em;
  height: 1em;
}

#fillmode .item svg {
  fill: #000;
}

#fillmode .item.active {
  background: var(--item-bg-color-active);
  color: #fff;
}

#fillmode .item.active svg {
  fill: #fff !important;
}

#fillmode label[for="favoriteLayer"] {
  color: brown;
}

#about {
  font-size: 1.8vh !important;
}
