@import url('./info.css');
@import url('./fillmode.css');
@import url('./furigana.css');
@import url('./legend.css');
@import url('./map.css');
@import url('./mobile.css');
@import url('./print.css');
@import url('./shuriken.css');
@import url('./tokyo.css');

:root {
  --item-bg-color: rgba(79, 117, 130, 0.1);
  --item-bg-color-active: rgba(79, 117, 130, 0.9);
  --external-margin: 2em;
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  margin: 0;
}

#title {
  position: fixed;
  top: var(--external-margin);
  left: var(--external-margin);
  z-index: 10;
  display: flex;
  flex-direction: row;
}

#title .title-container {
  display: flex;
  flex-direction: column;
}

#title h1,
#title h2,
#title h3 {
  margin: 0 0 0.4em;
  font-size: 5vh;
}

#title h1 {
  cursor: pointer;
}

#patterns_source,
#tokyo_source {
  visibility: hidden;
  width: 0;
  height: 0;
}

.h2-pre,
.h3-pre {
  font-size: 5vh;
  margin: 0.4em 0.5em 0;
}

a {
  text-decoration: none;
  color: #000;
}
