@import url('./title.css');
@import url('./info.css');
@import url('./layersAndFill.css');
@import url('./furigana.css');
@import url('./legend.css');
@import url('./map.css');
@import url('./mobile.css');
@import url('./print.css');
@import url('./shuriken.css');
@import url('./tokyo.css');

:root {
  --item-bg-color: rgba(79, 117, 130, 0.1);
  --item-bg-color-active: rgba(79, 117, 130, 0.9);
  --external-margin: 2em;
}

div {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  margin: 0;
}

#patterns_source,
#tokyo_source {
  visibility: hidden;
  width: 0;
  height: 0;
}

a {
  text-decoration: none;
  color: #000;
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;
}

#root.modal #modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
