#legend-placeholder {
  position: fixed;
  top: 50%;
  left: var(--external-margin);
  padding-top: 1.4em;
  transform: translateY(-50%);
  z-index: 10;
}

#legend .item {
  margin-bottom: 0.3em;
  font-size: 3vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.2em;
  background: var(--item-bg-color);
}

#legend .item.active {
  background: var(--item-bg-color-active);
  color: #fff;
}

#legend .color,
#legend .pattern {
  border: 0.05em solid #999;
  border-radius: 0.1em;
}

#legend .color,
#legend .pattern,
#legend .pattern svg rect {
  width: 1.5em;
  height: 2em;
}

#legend .name {
  padding: 0 0.5em;
}

#legend .item.active .color,
#legend .item.active .pattern {
  border-color: #ccc;
}

body.fillmode-color #legend .pattern {
  display: none;
}

body.fillmode-pattern #legend .color {
  display: none;
}

body:has(#map.tokyo) #legend-japan {
  display: none;
}

body:not(:has(#map.tokyo)) #legend-tokyo {
  display: none;
}
