#map {
  position: relative;
}

#map svg text {
  font-size: 0.9em;
}

#regions,
#prefectures,
#cities,
#clickableArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

#regions .regions {
  z-index: 2;
}

#clickableArea {
  opacity: 0;
  z-index: 3;
}

#map #cities svg g[data-city='true'] {
  opacity: 0.05;
  cursor: pointer;
}

#map #prefectures {
  opacity: 0.05;
  z-index: 1;
}

#map #cities {
  z-index: 2;
}

#map.regionZoom {
  width: 200%;
}

#map.regionZoom #clickableArea {
  display: none;
}

#map.regionZoom #prefectures svg text {
  font-size: 1em;
  cursor: pointer;
}

#map.capitals #cities svg g[data-capital='true'] {
  opacity: 1;
}

#map.capitals #cities svg g[data-nationalCapital='false'] {
  opacity: 0.05;
}

#map.capitals.regionZoom #cities svg g[data-capital='false'] {
  opacity: 0.05 !important;
}

#map.capitals.regionZoom #cities svg g[data-nationalCapital='false'] {
  opacity: 1;
}

#map.favorites #cities {
  opacity: 1;
  z-index: 2;
}

#map.favorites #cities svg g[data-favorite='true'] {
  opacity: 1 !important;
}

#map.prefectures #prefectures {
  opacity: 1;
  z-index: 2;
}

#map.prefectures #cities {
  z-index: 1;
}

#prefectures svg path,
#cities svg path {
  stroke: none;
}

#prefectures svg text {
  font-size: 0.4em;
}

#prefectures.active svg text {
  visibility: visible;
}

#map .circle {
  display: none;
}

#map #cities .active .circle {
  display: block;
  opacity: 0.5;
}

#map #regions .active {
  opacity: 0.75;
}
