#map {
  position: relative;
}

#map svg text {
  font-size: 0.9em;
}

#regions,
#prefectures,
#cities,
#clickableArea,
#tokyo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

#regions .regions {
  z-index: 2;
}

#prefectures,
#cities {
  z-index: 2;
}

#clickableArea {
  opacity: 0;
  z-index: 3;
}

#map #cities svg g[data-city='true'] {
  cursor: pointer;
}

#map.tokyo #japan {
  display: none;
}

#map:not(.tokyo) #tokyo {
  display: none;
}

#map:not(.capitals, .favorites) #cities,
#map:not(.prefectures) #prefectures {
  opacity: 0.05;
  z-index: 1;
}

#map.capitals #cities svg g[data-capital='false'],
#map.favorites #cities svg g[data-favorite='false'] {
  opacity: 0.05;
}

#map.regionZoom {
  width: 200%;
}

#map.regionZoom #clickableArea {
  display: none;
}

#map.regionZoom #prefectures svg text {
  font-size: 1em;
  cursor: pointer;
}

#map.capitals:not(.regionZoom) #cities svg g[data-nationalCapital='false'] {
  opacity: 0.05;
}

#prefectures svg path,
#cities svg path {
  stroke: none;
}

#prefectures svg text {
  font-size: 0.4em;
}

#map .circle {
  display: none;
}

#map #cities .active .circle {
  display: block;
  opacity: 0.5;
}

#map #regions .active {
  opacity: 0.75;
}
