#maps {
  position: relative;
}

#regions,
#prefectures,
#cities,
#clickableArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

#regions,
#prefectures,
#cities {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#regions .regions {
  z-index: 2;
}

#clickableArea {
  opacity: 0;
  z-index: 3;
}

#maps #cities svg g[data-city='true'] {
  opacity: 0.05;
  cursor: pointer;
}

#maps #prefectures {
  opacity: 0.05;
  z-index: 1;
}

#maps #cities {
  z-index: 2;
}

#maps.regionZoom {
  width: 200%;
}

#maps.regionZoom #clickableArea {
  display: none;
}

#maps.regionZoom #prefectures svg text {
  font-size: 1em;
  cursor: pointer;
}

#maps.capitals #cities svg g[data-capital='true'] {
  opacity: 1;
}

#maps.capitals #cities svg g[data-nationalCapital='false'] {
  opacity: 0.05;
}

#maps.capitals.regionZoom #cities svg g[data-capital='false'] {
  opacity: 0.05 !important;
}

#maps.capitals.regionZoom #cities svg g[data-nationalCapital='false'] {
  opacity: 1;
}

#maps.favorites #cities {
  opacity: 1;
  z-index: 2;
}

#maps.favorites #cities svg g[data-favorite='true'] {
  opacity: 1 !important;
}

#maps.prefectures #prefectures {
  opacity: 1;
  z-index: 2;
}

#maps.prefectures #cities {
  z-index: 1;
}

#maps.cities #cities {
  visibility: visible;
}

#cities {
  visibility: hidden;
}

#prefectures svg path,
#cities svg path {
  stroke: none;
}

#prefectures svg text {
  font-size: 0.4em;
}

#prefectures.active svg text {
  visibility: visible;
}
