@media screen and (max-width: 768px) {
  body {
    font-size: 1.5vw !important;
  }

  #map:not(.regionZoom):not(.tokyo) {
    width: 200%;
    left: 50%;
    transform: translateX(-50%);
  }

  #map #regions svg path:not([stroke='#dddddd']) {
    stroke-width: 0.3em;
  }

  #title h1,
  #title h2,
  #title h3,
  #title h4,
  #title h5 {
    margin: 0 0 0.5em;
    font-size: 4em !important;
  }

  .title-separator {
    font-size: 4em !important;
  }

  #legend .item {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }

  #legend .color,
  #legend .pattern,
  #legend .pattern svg rect {
    height: 5em;
  }

  #layersAndFill .item:not(.active) .furigana,
  #legend .item:not(#legend .item-active) .legend-name {
    text-shadow: 0.05em 0.05em 0.025em #fff;
  }

  #layersAndFill .items {
    font-size: 1.5em !important;
  }

  #layersAndFill .item {
    padding: 1em 0.5em;
  }

  #about {
    font-size: 0.8em !important;
  }

  #shuriken {
    font-size: 0.7vh !important;
    padding-bottom: 14em !important;
  }

  svg text {
    font-size: 2em !important;
  }

  #prefectures svg text {
    font-size: 0.7em;
  }

  #map:not(.regionZoom) #prefectures svg text {
    font-size: 0.5em !important;
  }

  #map.favorites:not(.regionZoom) #cities svg text {
    font-size: 1.5em !important;
  }

  #info #info-tooltip {
    font-size: 1.6em;
  }

  #info #info-data {
    font-size: 3em;
  }

  #info .flag,
  #info .flag img,
  #info .picture {
    width: 4.5em;
    height: 3em;
  }

  #Municipalities #Text {
    font-size: 0.6em !important;
  }

  #tokyo.Tokyo svg {
    width: 60% !important;
  }

  #tokyo:not(.Tokyo) svg {
    width: 120% !important;
  }

  #picture-modal {
    width: 90%;
    height: 70%;
  }

  #picture-modal h6 {
    font-size: 4em;
  }
}
