#title {
  position: fixed;
  top: var(--external-margin);
  left: var(--external-margin);
  z-index: 10;
  display: flex;
  flex-direction: row;
}

#title .title-container {
  display: flex;
  flex-direction: column;
}

#title h1,
#title h2,
#title h3,
#title h4 {
  margin: 0 0 0.4em;
  font-size: 5vh;
}

#title h1 {
  cursor: pointer;
}

body:has(h3) #title h2,
body:has(h3) #title .h2.title-separator {
  display: none;
}

.title-separator {
  font-size: 5vh;
  margin: 0.4em 0.5em 0;
}
