#tokyo svg {
  width: 140%;
}

#tokyo.Special-Ward svg #Municipalities #Text>g:not([id="Special-Ward"]),
#tokyo.City svg #Municipalities #Text>g:not([id="City"]),
#tokyo.Town svg #Municipalities #Text>g:not([id="Town"]),
#tokyo.Village svg #Municipalities #Text>g:not([id="Village"]) {
  opacity: 0.05;
}

#tokyo.Special-Ward svg #Municipalities #Map>g:not([id="Special-Ward"]) *,
#tokyo.City svg #Municipalities #Map>g:not([id="City"]) *,
#tokyo.Town svg #Municipalities #Map>g:not([id="Town"]) *,
#tokyo.Village svg #Municipalities #Map>g:not([id="Village"]) * {
  stroke: #ccc;
  fill: #eee;
}

#Municipalities #Text {
  font-size: 0.4em;
  cursor: pointer;
}

#Municipalities #Map .active {
  opacity: 0.5;
}
