#tokyo svg {
  width: 140%;
}

#tokyo.Special-Ward svg #Municipalities #Text>g:not([id="Special-Wards"]),
#tokyo.City svg #Municipalities #Text>g:not([id="Cities"]),
#tokyo.Town svg #Municipalities #Text>g:not([id="Towns"]),
#tokyo.Village svg #Municipalities #Text>g:not([id="Villages"]) {
  opacity: 0.05;
}

#tokyo.Special-Ward svg #Municipalities #Map>g:not([id="Special-Wards"]) *,
#tokyo.City svg #Municipalities #Map>g:not([id="Cities"]) *,
#tokyo.Town svg #Municipalities #Map>g:not([id="Towns"]) *,
#tokyo.Village svg #Municipalities #Map>g:not([id="Villages"]) * {
  stroke: #ccc;
  fill: #eee;
}

#Municipalities #Text {
  font-size: 0.4em;
}
