:root {
  --item-bg-color: rgba(79, 117, 130, 0.1);
  --item-bg-color-active: rgba(79, 117, 130, 0.9);
}

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
  margin: 0;
}

#maps {
  position: relative;
}

#regions,
#prefectures,
#cities,
#clickableArea {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

#regions,
#prefectures,
#cities {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

#clickableArea {
  opacity: 0;
  z-index: 3;
}

#maps #cities svg g[data-city='true'] {
  opacity: 0.05;
}

#maps #prefectures {
  opacity: 0.05;
}

#maps.regionZoom {
  width: 200%;
}

#maps.regionZoom #clickableArea {
  display: none;
}

#maps.regionZoom #prefectures svg text {
  font-size: 1em;
}

#maps.capitals #cities svg g[data-capital='true'] {
  opacity: 1;
}

#maps.capitals #cities svg g[data-nationalCapital='false'] {
  opacity: 0.05;
}

#maps.capitals.regionZoom #cities svg g[data-capital='false'] {
  opacity: 0.05 !important;
}

#maps.capitals.regionZoom #cities svg g[data-nationalCapital='false'] {
  opacity: 1;
}

#maps.favorites #cities {
  opacity: 1;
}

#maps.favorites #cities svg g[data-favorite='true'] {
  opacity: 1 !important;
}

#maps.prefectures #prefectures {
  opacity: 1;
}

#maps.cities #cities {
  visibility: visible;
}

#cities {
  visibility: hidden;
}

#legend-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2em;
  z-index: 10;
}

#legend-items {
  width: fit-content;
}

#legend h3 {
  margin: 0 0 0.4em;
  font-size: 4em;
  cursor: default;
}

.legend-item {
  margin: 0 0 0.3em 0.2em;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  cursor: default;
  border-radius: 0.2em;
  background: var(--item-bg-color);
}

.legend-item-active {
  background: var(--item-bg-color-active);
  color: #fff;
}

.legend-color,
.legend-pattern {
  border: 0.05em solid #999;
  border-radius: 0.1em;
}

.legend-color,
.legend-pattern,
.legend-pattern svg rect {
  width: 1.5em;
  height: 2em;
}

.legend-name {
  padding: 0 0.5em;
}

.legend-item-active .legend-color,
.legend-item-active .legend-pattern {
  border-color: #ccc;
}

.legend-en {
  margin: 0.6em 1em 0;
  opacity: 0.5;
  font-size: 0.5em;
  font-style: italic;
}

#fillmode-placeholder {
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 10;
}

#fillmode {
  opacity: 1;
  font-size: 1.2em;
}

#fillmode:hover {
  opacity: 1;
}

#fillmode fieldset {
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-bottom: 0.75em;
  border: 0.05em solid #ccc;
  border-radius: 10px;
}

#fillmode fieldset legend {
  padding: 0em 0.5em;
}

#fillmode .items {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

#fillmode .item {
  display: flex;
  align-items: center;
  padding: 0.5em;
  gap: 0.4em;
  border-radius: 0.5em;
  cursor: default;
  background: var(--item-bg-color);
}

#fillmode .item object {
  width: 1em;
  height: 1em;
}

#fillmode .item svg {
  width: 1em;
  height: 1em;
  fill: #000;
}

#fillmode .item.active {
  background: var(--item-bg-color-active);
  color: #fff;
}

#fillmode .item.active svg {
  fill: #fff;
}

#fillmode label[for="favoriteLayer"] {
  color: brown;
}

#shuriken-placeholder {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

#shuriken {
  font-size: 0.9em;
}

#shuriken img {
  width: 7em;
  height: 6em;
  margin: 4.5em 3em;
  opacity: 0.7;
}

.directions {
  position: relative;
  overflow: hidden;
}

.direction {
  position: absolute;
  font-size: 2.5em;
}

.direction-e {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 0.6em;
}

.direction-w {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 0.6em;
}

.direction-s {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.direction-n {
  top: 0 ;
  left: 50%;
  transform: translateX(-50%);
}

ruby.furigana {
  line-height: 1em;
  display: flex;
  flex-direction: column;
}

ruby.furigana rbc,
ruby.furigana rtc {
  display: flex;
  gap: 0.15em;
}

ruby.furigana rt {
  display: inline-block;
  width: calc(1em * 3);
  font-size: calc(1em / 3);
  white-space: nowrap;
  font-weight: normal;
  text-align: center;
}

ruby.furigana rtc.annotation rt {
  width: 100%;
  font-size: 0.5em;
  opacity: 0.5;
  margin-top: 0.3em;
  text-align: left;
  font-style: italic;
}

.text {
  display: block;
}

svg text {
  font-size: 0.9em;
}

#prefectures svg path,
#cities svg path {
  stroke: none;
}

#prefectures svg text {
  font-size: 0.4em;
}

#prefectures.active svg text {
  visibility: visible;
}

body.fillmode-color .legend-color {
  display: block;
}

body.fillmode-color .legend-pattern {
  display: none;
}

body.fillmode-pattern .legend-color {
  display: none;
}

body.fillmode-pattern .legend-pattern {
  display: block;
}

@media screen and (min-width: 769px) {
  #legend h3 .furigana,
  .legend-name .furigana {
    flex-direction: row;
    align-items: end;
    gap: 0.3em;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1.5vw;
  }

  #legend h3 {
    margin: 0 0 0.5em;
  }

  /* .legend-item {
    padding: 1em 0.3em;
  } */

  .legend-color,
  .legend-pattern,
  .legend-pattern svg rect {
    height: 4em;
  }

  #fillmode {
    font-size: 1.2em;
  }

  #fillmode .item {
    padding: 1em 0.5em;
  }

  #regions,
  #prefectures,
  #cities,
  #cityMarkers {
    width: 200%;
    left: 50%;
    transform: translateX(-50%);
  }

  svg text {
    font-size: 2em;
  }

  #prefectures svg text {
    font-size: 0.7em;
  }
}

@media print {
  .legend-color,
  .legend-pattern,
  .legend-pattern svg {
    width: 3em;
    height: 3em;
  }

  .legend-item {
    margin-bottom: 1.5em;
    font-size: 3em;
  }

  svg text {
    font-size: 1.2em;
  }

  #fillmode {
    display: none;
  }
}

#patterns_source {
  visibility: hidden;
  width: 0;
  height: 0;
}
