body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#maps {
  position: relative;
}

#regions,
#cities,
#cityMarkers {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

#cities {
  visibility: hidden;
}

#legend-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2vw;
}

#legend h3 {
  margin: 0 0 4vw;
  font-size: 4vw;
}

.legend-item {
  padding-left: 0.5vw;
  margin-bottom: 1vw;
  font-size: 2vw;
  display: flex;
  align-items: center;
}

.legend-color,
.legend-pattern {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0.2vw 1vw 0 0;
  border: 0.5px solid #999;
}

.legend-pattern svg {
  width: 2vw;
  height: 2vw;
}

.legend-pattern svg rect {
  width: 512px;
  height: 512px;
}

.legend-en {
  margin-left: 1vw;
  color: #666;
  font-size: 0.5em;
  font-style: italic;
}

#fillmode-placeholder {
  position: absolute;
  top: 2vw;
  right: 2vw;
  z-index: 1;
}

#fillmode {
  opacity: 0.5;
}

#fillmode:hover {
  opacity: 1;
}

#fillmode fieldset {
  background: #fff;
  padding: 0.5vw 1vw;
  margin-bottom: 1vw;
}

#fillmode legend {
  font-size: 1vw;
}

#fillmode .item {
  display: flex;
  align-items: center;
  padding: 0.5vw 0vw;
  font-size: 1vw;
}

#fillmode input[type="radio"],
#fillmode input[type="checkbox"] {
  margin: 0 0.5vw 0.1vw 0;
}

#fillmode label[for="favoriteLayer"] {
  color: brown;
}

#shuriken-placeholder {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2vw;
}

#shuriken img {
  width: 10vw;
  height: 10vw;
  padding: 2vw;
  margin: 3vw 2vw;
  opacity: 0.7;
}

.directions {
  position: relative;
  overflow: hidden;
}

.direction {
  position: absolute;
  font-size: 2.5vw;
}

.direction-e {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 1.5vw;
}

.direction-w {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 1.5vw;
}

.direction-s {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.direction-n {
  top: 0 ;
  left: 50%;
  transform: translateX(-50%);
}

ruby.furigana {
  line-height: 1em;
  display: flex;
  flex-direction: column-reverse;
}

ruby.furigana rbc,
ruby.furigana rtc {
  display: flex;
  gap: 0.15em;
}

ruby.furigana rt {
  display: inline-block;
  width: calc(1em * 3);
  font-size: calc(1em / 3);
  white-space: nowrap;
  font-weight: normal;
  text-align: center;
}

.text {
  display: block;
}

svg text {
  font-size: 0.9vw;
  text-shadow: 1px 0 #fff, -1px 0 #fff, 0 1px #fff, 0 -1px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

body.fillmode-color .legend-color {
  display: block;
}

body.fillmode-color .legend-pattern {
  display: none;
}

body.fillmode-pattern .legend-color {
  display: none;
}

body.fillmode-pattern .legend-pattern {
  display: block;
}

@media print {
  .legend-color,
  .legend-pattern,
  .legend-pattern svg {
    width: 3vw;
    height: 3vw;
  }

  .legend-item {
    margin-bottom: 1.5vw;
    font-size: 3vw;
  }

  svg text {
    font-size: 1.2vw;
  }

  #fillmode {
    display: none;
  }
}

#patterns_source {
  visibility: hidden;
  width: 0;
  height: 0;
}
